<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <header>
        <app-nav (inputNavEmit)="getInputNavEmit($event)" [showSearchInput]="ShowSearch"></app-nav>
    </header>
    <section>
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Theme</th>
              <th>Local</th>
              <th class="level-hidden-2">Date</th>
              <th class="level-hidden-1">{{ css_levelOne_amount }}</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of eventDataHalf">
            <tr>
              <td><img src="{{item.imgUrl}}" alt="" width="100vw"></td>
              <td>{{item.theme}}</td>
              <td>{{item.local}}</td>
              <td class="level-hidden-2">{{item.eventDate}}</td>
              <td class="level-hidden-1">{{item.peopleAmount}}</td>
            </tr>
          </tbody>
          <tfoot *ngIf="eventDataHalf.length < 1">
            <tr>
              <td colspan="8" class="text-center">
                <h3>Not results found.</h3>
              </td>
            </tr>
          </tfoot>
        </table>
          <div class="d-flex justify-content-center" *ngIf="showPagination">
              <pagination [totalItems]="eventData.length" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage"></pagination>
          </div>
    </section>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>
