<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <app-nav></app-nav>
    </header>
    <section>
        <carousel [isAnimated]="true">
            <slide>
              <img src="assets/home1.jpeg" alt="first slide" style="display: block; width: 100vw; height: 40vw;">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/home2.jpeg" alt="second slide" style="display: block; width: 100vw; height: 40vw;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/home3.jpeg" alt="third slide" style="display: block; width: 100vw; height: 40vw;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
    </section>
    <footer>
        <app-footer [par]='title'></app-footer>
    </footer>
</body>
</html>